body, html {
    height: 100%;
  }
.topnav {
      background-color: #333;
      overflow: hidden;
}
.topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
    background-color: rgba(167,76,233,0.8);
    color: white;
}
.font-family{: 'Raleway', sans-serif;
}

h1 {
  color:white;
  font-size:40px;
  font-style: bold;
}

h2{
  font-size:35px;
}
header{
  background-color: white;
  background-image:
}

.centered-container {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

img {
  width:100%;
}

.ingress {
  color: white;
  font-size: 22px;
  font-style: italic;
}
.header {
  margin-left: 500px;
  margin-right: 500px;
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./photos_nature/jon-flobrant-34820-unsplash.jpg");
  height: 65%;
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.button {
  background-color:rgba(167,76,233,0.8);
  color: white;
    text-align: center;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border:none;
    border-radius: 10px;
}

.body{
  margin-left: 200px;
  margin-right: 500px:
}
.text-block{
  position:absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.texten{
  position: relative;
  overflow: hidden;
  height:470px;
}
.texten img{
min-height: 100%;
min-width: 100%;

}
.catch-phrase{
  background-color: black;
  text-align: center;
  color:white;
}
.catch-phrase img{
  height:100%;
}
.verical-spacing{
  margin-top: 10px;
}
.locations {
  position: relative;
  overflow: hidden;
  height:450px;
}
.locations img{
  height: 100%;
  min-width: 100%;
}
.container-wrapper{
  background-color: lightgrey;
  padding: 20px;
}
